@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --selecti-position: 20%;
  --gardient-position: 80%;
}

.smail {
  font-size: 40px;
}

.button {
  background: #489AFF;
  border-radius: 500px;
  border: none;
  width: 220px;
  height: 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  box-shadow: 0 0 3px 1px #489AFF;
}
.button:active {
  transform: translateY(2px);
  box-shadow: 0 0 3px 0 #1c3c63;
}

.new-string {
  width: 100%;
  height: 0;
}

.main {
  background: url(/img/backgroundImage.svg) no-repeat right top;
  overflow: hidden;
}
.main__container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.welcome-block {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
}
.welcome-block__text__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
  margin-top: 12px;
}
.welcome-block__text__inform {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
  margin-top: 10px;
}
.welcome-block__text__stack-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
  margin-top: 21px;
}
.welcome-block__text__stack-list {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #405063;
  margin-top: 1px;
}
.welcome-block__text__stack-list__element {
  margin-top: 8px;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}
.welcome-block__text__stack-list__element::before {
  content: url(../img/dote.svg);
  position: absolute;
  left: 2px;
  top: -3px;
}
.welcome-block__text__comment {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
  margin: 22px 0 0 3px;
}
.welcome-block__img {
  max-width: 535px;
}

.wish-block {
  margin: 0 auto;
  min-height: 200px;
  max-width: 871px;
  border-top: 1px solid #E3E8EF;
  border-bottom: 1px solid #E3E8EF;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wish-block__text {
  max-width: 620px;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
  margin-top: 26px;
}
.wish-block__img-container__wish {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #405063;
  margin-top: 10px;
}

.figma-boost {
  display: flex;
  padding-top: 81px;
  box-sizing: border-box;
  min-height: 461px;
}
.figma-boost__img-container {
  position: relative;
}
.figma-boost__img-container__element {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1254901961);
}
.figma-boost__img-container__element_one {
  z-index: 2;
  top: 85px;
  right: 172px;
}
.figma-boost__img-container__element_two {
  z-index: 1;
  top: 13px;
  right: 22px;
}
.figma-boost__text-container {
  padding: 40px 40px 0 38px;
  box-sizing: border-box;
}
.figma-boost__text-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
  margin-top: 11px;
}
.figma-boost__text-container__info {
  margin-top: 8px;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
}
.figma-boost__text-container__button {
  margin-top: 15px;
}

.rating {
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 29px 47px;
  box-sizing: border-box;
  min-height: 271px;
  display: flex;
  flex-wrap: wrap;
}
.rating__text {
  width: 60%;
}
.rating__text__title {
  margin-top: 9px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.rating__text__info {
  margin-top: 8px;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #C4CCD6;
}
.rating__amount {
  width: 40%;
  display: flex;
}
.rating__amount__years::before {
  content: url(../img/ringOld.svg);
  top: -5px;
  right: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.rating__amount__projects::before {
  content: url(../img/ringProject.svg);
  top: -5px;
  right: -16px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.rating__amount__container {
  width: 120px;
  height: 120px;
  border: 4px solid #283C54;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}
.rating__amount__container__number {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}
.rating__amount__container__name {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #B2BBC8;
}
.rating__selection {
  width: 100%;
}
.rating__selection__visualization {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 6px;
  border-radius: 3px;
  position: relative;
  background: linear-gradient(90deg, #BFA4FF 0%, #FF4F72 33.5%, #FFC359 71%, #59ff88 100%) no-repeat;
}
.rating__selection__visualization::before {
  position: absolute;
  content: "";
  background: #23364C;
  width: var(--gardient-position);
  height: 6px;
  border-radius: 3px;
  top: 0;
  right: -1px;
}
.rating__selection__visualization::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  top: -5px;
  margin-left: -8px;
  left: var(--selecti-position);
}
.rating__selection__visualization__level {
  position: relative;
  width: 0;
}
.rating__selection__visualization__level::after {
  content: url(../img/liDote.svg);
  position: absolute;
  top: 10px;
  left: 1px;
}
.rating__selection__visualization__level__radio {
  opacity: 0;
}
.rating__selection__list {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.rating__selection__list__level-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.slider {
  margin-top: 90px;
}
.slider__text {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
}
.slider__text__title {
  margin-top: 14px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #405063;
}
.slider__text__info {
  margin-top: 8px;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
}
.slider__container {
  margin-top: 38px;
  position: relative;
}
.slider__navigation {
  height: 504px;
  position: relative;
}
.slider__navigation::before {
  content: "";
  background-color: #273e5a;
  height: 100%;
  width: 5500px;
  position: absolute;
  left: -5650px;
  top: 0;
}
.slider__navigation__background {
  z-index: -1;
  position: absolute;
  left: -195px;
}
.slider__navigation__arrowRigth {
  background: url(../img/rightArrow.svg) rgba(255, 255, 255, 0) no-repeat center;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.2078431373);
  border-radius: 50%;
  transition: 0.3s;
}
.slider__navigation__arrowRigth:hover {
  border: 2px solid #ffffff;
}
.slider__navigation__arrowLeft {
  background: url(../img/leftArrow.svg) rgba(255, 255, 255, 0) no-repeat center;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.2078431373);
  border-radius: 50%;
  transition: 0.3s;
}
.slider__navigation__arrowLeft:hover {
  border: 2px solid #ffffff;
}
.slider__navigation__posotion {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.slider__navigation__posotion__this {
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}
.slider__navigation__posotion__all {
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  color: #47678B;
  padding: 7px 11px;
}
.slider__cardBox {
  position: absolute !important;
  display: flex;
  flex-wrap: nowrap;
}
.slider__cardBox__card {
  width: 240px;
  height: 398px !important;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}
.slider__cardBox__card__like {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-image: url(../img/likeOff.svg);
}
.slider__cardBox__card__likeCheckbox {
  opacity: 0;
  position: absolute;
  top: 11px;
  right: 12px;
}
.slider__cardBox__card__likeCheckbox:checked + .slider__cardBox__card__like {
  background-image: url(../img/likeOn.svg);
}
.slider__cardBox__card__img {
  display: block;
  margin: 44px auto 0;
}
.slider__cardBox__card__title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #405063;
  height: 33px;
  border-left: 3px solid #51BCF8;
  box-sizing: border-box;
  padding: 5px 0 0 17px;
}
.slider__cardBox__card__info {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #818D9C;
  padding: 0 20px;
  margin-top: 8px;
}
.slider__cardBox__card__priseBox {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 61px;
  left: 20px;
}
.slider__cardBox__card__priseBox__prise {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #405063;
}
.slider__cardBox__card__priseBox__discount {
  margin-left: 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #818D9C;
}
.slider__cardBox__card__colorBox {
  display: flex;
  position: absolute;
  bottom: 19px;
  left: 19px;
}
.slider__cardBox__card__colorBox__element {
  list-style: none;
}
.slider__cardBox__card__colorBox__element__colorText {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #405063;
}
.slider__cardBox__card__colorBox__element__radio {
  opacity: 0;
  margin: 0 10px;
}
.slider__cardBox__card__colorBox__element__label {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -3px;
  transform: translateX(-24px);
  border: 6px solid #ffffff;
  z-index: 1;
}
.slider__cardBox__card__colorBox__element__radio:checked + .slider__cardBox__card__colorBox__element__label {
  z-index: 10;
  box-shadow: 0 0 0 1px #CDCDCD;
}
.slider__cardBox__card__colorBox__element .radio_red {
  background-color: #D45D5E;
}
.slider__cardBox__card__colorBox__element .radio_blue {
  background-color: #518DD5;
}
.slider__cardBox__card__colorBox__element .radio_orange {
  background-color: #E98D4B;
}
.slider__cardBox__card__colorBox__element .radio_violet {
  background-color: #9F548C;
}
.slider__cardBox__card__colorBox__element .radio_black {
  background-color: #292929;
}
.slider__cardBox__card__colorBox__element .radio_pink {
  background-color: #B779DC;
}
.slider__cardBox__card__colorBox__element .radio_gray {
  background-color: #97938F;
}
.slider__cardBox__card__bay {
  opacity: 0;
}
.slider__cardBox__card__bayLabel {
  box-shadow: inset 0 0 200px 200px #51BCF8;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 10px 0 0 0;
  transition: 0.3s;
}
.slider__cardBox__card__bayLabel::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #FFFFFF;
  position: absolute;
  top: 18px;
  left: 24px;
  transition: 0.3s;
}
.slider__cardBox__card__bayLabel::before {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #FFFFFF;
  position: absolute;
  top: 18px;
  left: 24px;
  transform: rotate(90deg);
}
.slider__cardBox__card__bay:checked + .slider__cardBox__card__bayLabel {
  box-shadow: inset 0 0 200px 200px #f85159;
}
.slider__cardBox__card__bay:checked + .slider__cardBox__card__bayLabel::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #FFFFFF;
  position: absolute;
  top: 18px;
  left: 24px;
  transition: 0.3s;
  transform: rotate(90deg);
}

.table-block {
  overflow: auto;
  padding-top: 10px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 100px;
}
.table-block__title {
  margin-top: 12px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #405063;
}
.table-block__info {
  margin: 14px auto 0 auto;
  max-width: 620px;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
}
.table-block__table {
  margin-top: 23px;
  border: 1px solid #D7E1EC;
  color: #405063;
  min-width: 750px;
}
.table-block__table__string {
  border: 1px solid #D7E1EC;
  height: 50px;
}
.table-block__table__string .column1 {
  padding-left: 20px;
  text-align: start;
  width: 30%;
}
.table-block__table__string .column2 {
  background: #F2F8FF;
  width: 23%;
}
.table-block__table__string .column3 {
  background: #F7F4FF;
  width: 23%;
}
.table-block__table__string .column4 {
  background: #FFF1F8;
  width: 23%;
}
.table-block__table__string .columnOff {
  color: #C3D0DF;
}
.table-block__table__column {
  border: 1px solid #D7E1EC;
  vertical-align: middle;
}
.table-block__table__column__img {
  margin-top: 20px;
}
.table-block__table__column__title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.table-block__table__column__inform {
  width: 90%;
  margin: 7px auto 20px auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #818D9C;
}

@media (max-width: 768px) {
  .main {
    background-size: 100%;
  }
  .main__container {
    padding: 0 50px;
  }

  .welcome-block {
    padding: 68px 0 0;
    flex-wrap: wrap;
  }
  .welcome-block__text {
    width: 100%;
  }
  .welcome-block__img {
    margin: 50px auto;
    width: 100%;
  }

  .figma-boost {
    flex-wrap: wrap;
  }
  .figma-boost__img-container {
    width: 400px;
    height: 375px;
    margin: 0 auto;
  }
  .figma-boost__text-container {
    width: 100%;
    margin-bottom: 60px;
  }

  .rating__text {
    width: 100%;
  }
  .rating__amount {
    width: 100%;
  }
  .rating__amount__container {
    margin: 20px auto;
  }

  .slider__navigation {
    margin-bottom: 100px;
  }
  .slider__navigation__background {
    left: -195px;
    top: 40px;
  }
  .slider__navigation__arrowRigth {
    left: 260px;
    bottom: -20px;
  }
  .slider__navigation__arrowLeft {
    left: 180px;
    bottom: -20px;
  }
  .slider__navigation__posotion {
    left: -20px;
    bottom: -30px;
  }
  .slider__cardBox {
    top: 53px;
    left: 0px;
  }
}
@media (min-width: 769px) {
  .main__container {
    padding: 0 50px;
  }

  .welcome-block {
    padding: 168px 0 0;
    flex-wrap: nowrap;
  }
  .welcome-block__text {
    max-width: 419px;
    width: 45%;
  }
  .welcome-block__img {
    margin: 30px 0 auto auto;
    width: 55%;
  }

  .figma-boost__img-container {
    min-width: 400px;
    width: 45%;
  }
  .figma-boost__text-container {
    width: 55%;
  }

  .rating__text {
    width: 60%;
  }
  .rating__amount {
    width: 40%;
    justify-content: flex-end;
  }
  .rating__amount__container {
    margin-left: 8%;
    margin-right: 1%;
  }

  .slider__navigation__background {
    left: -195px;
  }
  .slider__navigation__arrowRigth {
    left: 80px;
    top: 125px;
  }
  .slider__navigation__arrowLeft {
    left: 80px;
    top: 210px;
  }
  .slider__navigation__posotion {
    left: 28px;
    bottom: 43px;
  }
  .slider__cardBox {
    top: 53px;
    left: 240px;
  }
}
@media (max-width: 480px) {
  .wish-block__img-container {
    margin: 26px 26px 12px 26px;
    width: 200px;
  }

  .figma-boost__img-container {
    display: none;
  }

  .rating__amount {
    flex-wrap: wrap;
  }
  .rating__selection__list {
    display: none;
  }
}
@media (min-width: 481px) {
  .wish-block__img-container {
    margin: 0 26px 12px 26px;
    width: 130px;
  }
}