.not-found {
  min-height: 100vh;
  text-align: center;
  margin-bottom: 265px;
}
.not-found__img {
  margin-top: 282px;
}
.not-found__title {
  margin-top: 23px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
}
.not-found__inform {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
  max-width: 510px;
  margin: 10px auto 0px auto;
}
.not-found__button {
  display: block;
  margin: 15px auto 0 auto;
  background: #489AFF;
  border-radius: 500px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 0 12px 0;
  width: 152px;
  border: none;
  text-decoration: none;
}
.not-found__button:hover {
  box-shadow: 0 0 3px 1px #489AFF;
}