@import "fonts.scss";

:root {
    --selecti-position: 20%;
    --gardient-position: 80%;
}


$mainColor: #405063;
$secondaryСolor: #818D9C;

.smail {
    font-size: 40px;
}

.button {
    background: #489AFF;
    border-radius: 500px;
    border: none;
    width: 220px;
    height: 43px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;

        &:hover{
            box-shadow: 0 0 3px 1px #489AFF;
        }
        
        &:active{
            transform: translateY(2px);
            box-shadow: 0 0 3px 0 #1c3c63;
        }
}

.new-string {
    width: 100%;
    height: 0;
}

.main {
    background: url(/img/backgroundImage.svg)  no-repeat right top;

    &__container {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
.welcome-block {
    display: flex;
    min-height: 100vh;

    box-sizing: border-box;

    &__text {
        &__title {
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            color: $mainColor;
            margin-top: 12px;
        }

        &__inform {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $secondaryСolor;
            margin-top: 10px;
        }

        &__stack-info {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            color: $mainColor;
            margin-top: 21px;
        }

        &__stack-list {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $mainColor;
            margin-top: 1px;

            &__element {
                margin-top: 8px;
                list-style-type: none;
                position: relative;
                padding-left: 15px;

                &::before {
                    content: url(../img/dote.svg);
                    position: absolute;
                    left: 2px;
                    top: -3px;
                }
            }
        }
        
        &__comment {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $mainColor;
            margin: 22px 0 0 3px;

        }
    }

    &__img {
        max-width: 535px;
    }
}

.wish-block {
    margin: 0 auto;
    min-height: 200px;
    max-width: 871px;
    border-top: 1px solid #E3E8EF;
    border-bottom: 1px solid #E3E8EF;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
        max-width: 620px;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: $secondaryСolor;
        margin-top: 26px;

    }

    &__img-container {
        &__wish{
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: $mainColor;
            margin-top: 10px;

        }
    }
}


.figma-boost {
    display: flex;
    padding-top: 81px;
    box-sizing: border-box;
    min-height: 461px;

    &__img-container {
        position: relative;


        &__element {
            position: absolute;
            border-radius: 10px;
            box-shadow: 0px 3px 10px 0px #00000020;

            &_one{
                z-index: 2;
                top: 85px;
                right: 172px;
            }

            &_two{
                z-index: 1;
                top: 13px;
                right: 22px;

            }
        }
    }

    &__text-container {
        padding: 40px 40px 0 38px;
        box-sizing: border-box;

        &__title{
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            color: $mainColor;
            margin-top: 11px;
        }

        &__info{
            margin-top: 8px;
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $secondaryСolor;
        }   

        &__button{
            margin-top: 15px;

        }
    }
}

.rating {
    background: #354A62;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 29px 47px;
    box-sizing: border-box;
    min-height: 271px;
    display: flex;
    flex-wrap: wrap;

    &__text {
        width: 60%;
    }

    &__amount {
        width: 40%;
    }

    &__selection {
        width: 100%;

        &__visualization{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            height: 6px;
            border-radius: 3px;
            position: relative;
            background: linear-gradient(90deg, #BFA4FF 0%, #FF4F72 33.5%, #FFC359 71%, #59ff88 100%) no-repeat;

            &::before {
                position: absolute;
                content: '';
                background: #23364C;
                width: var(--gardient-position);
                height: 6px;
                border-radius: 3px;
                top: 0;
                right: -1px;


            }

            &::after {
                position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                background-color: #ffffff;
                border-radius: 8px;
                top: -5px;
                margin-left: -8px;
                left: var(--selecti-position);
                transition: 0,5s;
            }

            &__level{
                position: relative;
                width: 0;

                &::after {
                    content: url(../img/liDote.svg);
                    position: absolute;
                    top: 10px;
                    left: 1px;
                }

                &__radio{
                    opacity: 0;


                }
            }

        }

        &__list{
            margin-top: 21px;
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            &__level-name{
                color: #ffffff;
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
            }
        }
    }
}




















@media (max-width: 768px) {
    .main {
        background-size: 100%;
        &__container {
            padding:  0 50px;
        }
    }
    .welcome-block {
        padding: 68px 0 0;
        flex-wrap: wrap;

        &__text {
            width: 100%;
        }
        &__img {
            margin: 50px auto;
            width: 100%;
        }
    }
    
    .figma-boost {
        flex-wrap: wrap;

        &__img-container {
            width: 400px;
            height: 375px;
            margin: 0  auto;
        }

        &__text-container {
            width: 100%;
            margin-bottom: 60px;
        }
    }
}

@media (min-width: 769px) {
    .main {
        &__container {
            padding:  0 50px;
        }
    }

    .welcome-block {
        padding: 168px 0 0;
        flex-wrap: nowrap;

        &__text {
            max-width: 419px;
            width: 45%;
        }
        &__img {
            margin: 30px 0 auto auto;
            width: 55%;
        }
    }
    
    .figma-boost {

        &__img-container {
            min-width: 400px;
            width: 45%;
        }

        &__text-container {
            width: 55%;
        }
    }
}

@media (max-width: 480px) {
    .wish-block {
        &__img-container {
            margin: 26px 26px 12px 26px;
            width: 200px;
        }
    }

    .figma-boost {
        &__img-container {
            display: none;
        }
    }
}

@media (min-width: 481px) {
    .wish-block {
        &__img-container {
            margin: 0 26px 12px 26px;
            width: 130px;
        }
    }
}